<div class="container">
  <table class="table table-striped" style="margin-top: 20px; max-width: 500px;">
    <tr>
      <th>Project</th>
      <th>Date</th>
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to(project.name, project_entries_path(project.id)) %>
          <% if project.description? %>
            - <%= project.description %>
          <% end %>
        </td>
        <% if project.created_at.today? %>
          <td><%= project.created_at %></td>
        <% else %>
          <td><%= project.updated_at %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
